* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 209, 209);
}

.wrap {
  width: 70vw;
  margin: 0 auto;
}

.menu {
  display: flex;
  padding: 20px;
}
.menu__info a {
  text-decoration: none;
  justify-content: space-between;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}
.main{
  display: flex;
  justify-content: end;
  flex-direction: row;
  
}
.main img{
  margin-top: 80px;
  width: 500px;
  margin-right: 150px;
  background: radial-gradient(rgb(65, 65, 65) 15%,rgb(209, 209, 209) 70%,rgb(209, 209, 209) 80%,rgb(209, 209, 209) 100%);
}

.main__infoo{
  margin-top: 100px;
  display: flex;
  
}